:root {
  --flat-blue: #4a89dc;
}

a {
  text-decoration: none;
}

u {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
}

body .container {
  max-width: 960px;
}

header {
  background-color: var(--flat-blue);
  background-image: url(../files/grid.svg), url(../files/formulas.svg);
}

header > div {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

@media (min-width: 768px) {
  header > div {
    grid-template-columns: 50% auto;
  }
}

@media (min-width: 992px) {
  header > div {
    grid-template-columns: 33% auto;
  }
}

header img {
  width: 14rem;
  border: 0.5rem solid white;
}

header .socials {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 1rem;
}

header .socials > a {
  color: inherit;
  line-height: 1em;
  padding: 0.125em;
  transition: 0.2s;
}

header .socials > a:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 3rem;
  }

  header img {
    margin-bottom: -6rem;
  }
}

#publications > ol > li::marker {
  content: "[" counter(list-item) "]  ";
}

#publications > ol > li > p:not(:last-child) {
  margin-bottom: 0;
}

footer {
  background-color: var(--flat-blue);
  background-image: url(../files/grid.svg);
}
